* {
    margin : 0%;
    padding : 0%;
    box-sizing: border-box;
    font-family: SF PRO DISPLAY;
}

html, body{
    height: 100%;
    width: 100%;
}

#main{
    position: relative;
    overflow: hidden;
}

#page{
    position: relative;
    height: 100vh;
    width: 100vw;
    background-color: black;
}

#page>nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0px 20px;
    height: 7vh;
    width: 50vw;
    position: absolute;
    top: 0%;
    left: 50%;
    transform: translateX(-50%);
}

#page>nav>h3{
    font-weight: 400;
    color: white;
}

#page>nav>button{
    padding: 7px 20px;
    border-radius: 50px;
    border: none;
    background-color: #fff;
}

#page>video{
    height: 100%;
    width: 50%;
    object-fit: cover;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}
#page-bottom{
    height: 20%;
    width: 25%;
    position: absolute;
    bottom: 5%;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
#page-bottom>h3{
    color: #dadada93;
    margin-bottom: 1vw;
}
#page2{
    position: relative;
    height: 100vh;
    width: 100vw;
    background-color: white;
}
#page2>video{
    height: 100%;
    width: 100%;
    object-fit: cover;
}

#page2>h1{
    font-size: 4vw;
    color: #fff;
    font-weight: 400;
    position: absolute;
    bottom: 20%;
    left: 50%;
    transform: translateX(-50%);
    white-space: nowrap;
}

#page3{
    position: relative;
    height: 100vh;
    width: 100vw;
}

#page3>video{
    height: 100%;
    width: 100%;
    object-fit: cover;
}

#page3>h1{
    font-size: 4vw;
    position: absolute;
    bottom: 20%;
    left: 50%;
    transform: translateX(-50%);
    white-space: nowrap;
    text-align: center;
    color: #fff;
    font-weight: 400;
}

#page4{
    position: relative;
    height: 150vh;
    width: 100vw;
    /* background-color: black; */
}

#page4>img{
    width: 60%;
    position: absolute;
    top: 32%;
    left: 54%;
    transform: translateX(-50%);
}

#page4-upper{
    height: 20%;
    width: 50%;
    position: absolute;
    z-index: 9;
    top: 5%;
    left: 55%;
    transform: translateX(-50%);
}

#page4-upper>img{
    position: absolute;
    top: 10%;
    left: 45%;
    transform: translateX(-50%);
    width: 70%;
}

#page4-upper-inner{
    position: absolute;
    bottom: 0%;
    height: 30%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0px 80px 0px 40px;
}

#page4-upper-inner>a{
    font-size: 30px;
    font-weight: 500;
    color: #ff823d;
}

#page4>button{
    position: absolute;
    bottom: 25%;
    left: 57%;
    transform: translateX(-50%);
    padding: 15px 30px;
    border: 1px solid #000;
    font-weight: 500;
    background-color: #fff;
    border-radius: 50px;
    font-size: 1.4vw;
    scale: 1.5;
}

#page5{
    position: relative;
    height: 100vh;
    width: 100vw;
}

#page5>video{
    height: 100%;
    width: 100%;
    object-fit: cover;
}
#center-page5{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    font-size: 2vw;
    color: white;
}


#page6{
    position: relative;
    display: flex;
    height: 60vh;
    width: 100vw;
}

.left6{
    position: relative;
    height: 100%;
    width: 50%;
}

.left6>h1{
    font-size: 1.8vw;
    position: absolute;
    top: 25%;
    left: 50%;
    transform: translateX(-50%);
    font-weight: 300;
}

.right6{
    height: 100%;
    width: 50%;
    display: flex;
    align-items: start;
    justify-content: center;
    flex-direction: column;
    padding-left: 5vw;
}

.right6>h3{
    font-size: 1.5vw;
    width: 90%;
    color: #484848d7;
}

.right6>button{
    padding: 10px 20px;
    border: none;
    background-color: #ff823d;
    font-weight: 200;
    border-radius: 50px;
    border-radius: 50px;
    font-size: 1.3vw;
    margin-top: 1.5vw;
}

#page7{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    position: relative;
    height: 70vh;
    width: 100vw;
    background-color:#f5f5f7;
}

#page7>h3{
    margin-bottom: 1vw;
    font-size: 2vw;
}

#page7>h1{
    margin-bottom: 1.5vw;
    font-size: 4vw;
}
#page8{
    position: relative;
    height: 100vh;
    width: 100vw;
    background-color: #f5f5f7;
}

#page7>p{
    font-size: 1.2vw;
    height: 20%;
    width: 60%;
    font-weight: 700;
    color: #545454c9;
}

#page8>canvas{
    position: relative;
    max-width: 100vw;
    max-height: 100vh;
    z-index: 99;
}

#page9{
    position: relative;
    height: 100vh;
    width: 100vw;
    background-color: #f5f5f7;
}

#page9>h1{
    width: 20%;
    top: 50%;
    transform: translateY(-50%);
    left: 5%;
    font-size: 1.3vw;
    font-weight: 500;
    color: #7c7b7b;
    z-index: 99;
    position: absolute;
}

#page9>h1>span{
    color: #000;
    font-weight: 500;
}

#page10{
    position: relative;
    height: 100vh;
    width: 100vw;
    background-color: #f5f5f7;
}

#page10>h1{
    width: 20%;
    top: 50%;
    transform: translateY(-50%);
    right: 5%;
    font-size: 1.3vw;
    font-weight: 500;
    color: #4d4d4d;
    z-index: 99;
    position: absolute;
}

#page10>h1>span{
    color: #000;
}


#page11{
    position: relative;
    height: 100vh;
    width: 100vw;
    background-color: #f5f5f7;
}

#page11>h1{
    width: 20%;
    top: 50%;
    transform: translateY(-50%);
    left: 5%;
    font-size: 1.3vw;
    font-weight: 500;
    color: #4d4d4d;
    z-index: 99;
    position: absolute;
}

#page11>h1>span{
    color: #000;
}

#page12{
    position: relative;
    height: 100vh;
    width: 100vw;
    background-color: #f5f5f7;
}

#page12>h1{
    width: 20%;
    top: 50%;
    transform: translateY(-50%);
    right: 5%;
    font-size: 1.3vw;
    font-weight: 500;
    color: #4d4d4d;
    z-index: 99;
    position: absolute;
}

#page12>h1>span{
    color: #000;
}

#page13{
    position: relative;
    height: 100vh;
    width: 100vw;
    background-color: #f5f5f7;
}

#page13>h1{
    width: 20%;
    top: 50%;
    transform: translateY(-50%);
    left: 5%;
    font-size: 1.3vw;
    font-weight: 500;
    color: #4d4d4d;
    z-index: 99;
    position: absolute;
}

#page13>h1>span{
    color: #000;
}

#page14{
    position: relative;
    height: 100vh;
    width: 100vw;
    background-color: #f5f5f7;
}

#page14>h1{
    width: 20%;
    top: 50%;
    transform: translateY(-50%);
    right: 5%;
    font-size: 1.3vw;
    font-weight: 500;
    color: #4d4d4d;
    z-index: 99;
    position: absolute;
}

#page14>h1>span{
    color: #000;
}

#page15{
    display: flex;
    align-items: center;
    justify-content: space-around;
    position: relative;
    height: 100vh;
    width: 100vw;
    background-color: #fff;
}

#left15{
    position: relative;
    height: 90%;
    width: 45%;
    background-image: url(https://www.apple.com/v/apple-vision-pro/a/images/overview/design/glass_top__k3b8lzqd1l2m_large.jpg);
    background-size: cover;
}

#right15{
    position: relative;
    height: 90%;
    width: 45%;
    background-image: url(https://www.apple.com/v/apple-vision-pro/a/images/overview/design/glass_side__gm4agomrwl2e_large.jpg);
    background-size: cover;
}

#page16{
    position: relative;
    height: 100vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
}

#center-page16{
    height: 90%;
    width: 95%;
    position: relative;
    overflow: hidden;
}

#center-page16{
    height: 100%;
    width: 100%;
    object-fit: cover;
}